.pageLoading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    font-weight: bold;
}
.loading{
    width: 30%;
    height: 30%;
}