.Add_Project_content {
    width: 96%;
    margin-left: 2%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Add_Project_Input {
    text-align: center;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 70%;
    margin-bottom: 1%;
}

.Add_Project_Input>input:focus {
    outline: none;
    border: none;
}

.Add_Project_Input>input {
    padding: 0;
    color: white;
    height: 2vw;
    width: 100%;
    background-color: #1a2f38;
    border: none;
    font-size: 1vw;
}

.Add_Project_Input> :nth-child(4) {
    text-align: left;
    width: 100%;
    font-size: 1vw;
    background-color: #1a2f38;
}
.Add_Project_Input> :nth-child(4) >div{
    display: flex;
    align-items: center;
    height: 2vw;
    text-indent: 10%;
}
.Add_Project_Input> :nth-child(4):last-child {
    text-align: left;
    width: 100%;
    font-size: 1vw;
    background-color: #1a2f38;
    border-radius: 0 0 0.5vw 0.5vw;
}

