.project_plus {
    background-color: #153944;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6vw;
    width: 3vw;
    border-radius: 2vw;
}

.plusSlide {
    margin-left: 20px !important;
    width: 80px !important;
}

.project_plus:hover {
    transition: all 0.2s;
    box-shadow: 0 0 20px rgba(76, 175, 80, 0.8);
}

.project_plus :nth-child(1) {
    color: #beff54;
}

.project_list {
    position: relative;
    border-radius: 1.5vw;
    height: 6vw;
}

.project_list:nth-child(1) {
    background-color: #00a6e1;
}

.project_list_dept {
    margin-left: 5%;
    color: #fff;
    font-size: 1vw;
}

.project_list_title {
    margin-left: 5%;
    font-size: 1.2vw;
    font-weight: bold;
}

.project_list_task {
    margin-left: 5%;
    margin-top: 2%;
}

.project_list-men {
    margin-top: 2%;
}

.project_list_last {
    position: relative;
    margin-left: 5%;
    display: flex;
}

.project_list_member {
    position: absolute;
    display: flex;
    width: 10vw;
    left: 52%;
    bottom: 5%;
}

.project_list_member>div {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 2vw;
    width: 2vw;
    height: 2vw;
    margin-right: 2%;
    text-align: center;
    font-size: 0.6vw;
}

.project_list_member>div:last-child {
    background-color: #153944;
    color: white;
    font-weight: bold;
}

.project_list_arrow {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    border-radius: 2vw;
    width: 2.5vw;
    height: 2.5vw;
    background-color: #153944;
    top: 5%;
    right: 2%;
    opacity: 80%;
}

.project_list_arrow:hover {
    transition: all 0.2s;
    transform: rotate(45deg) scale(1.1);
    box-shadow: 0 0 20px rgba(76, 175, 80, 0.8);
}

.dashboard_project_list {
    width: 60vw;
    height: 20vw;
    overflow: hidden;
}

/* 헤더와 네비게이션 */
.project_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    padding: 0 2%;
}

.project_header > h2 {
    margin: 0;
}

/* 커스텀 네비게이션 버튼 */
.custom_navigation {
    width: 20%;
    margin-left: 45%;
    margin-top: 2%;
    display: flex;
    gap: 10%;
}

.custom_prev,
.custom_next {
    width: 3vw;
    height: 1vw;
    background-color: #153944;
    border: none;
    border-radius: 10%;
    color: #beff54;
    font-size: 1.5vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.custom_prev:hover,
.custom_next:hover {
    background-color: #1f4d5c;
    box-shadow: 0 0 20px rgba(190, 255, 84, 0.6);
    transform: scale(1.1);
}

.custom_prev:active,
.custom_next:active {
    transform: scale(0.95);
}

.lastSlid {
    margin-top: 2%;
}