.login_content{
    width: 100%;
    height: 100vh;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login_content>div{
    border-radius: 0.5vw;
    overflow: hidden;
    position: relative;
    width: 60%;
    height: 60%;
    background-color: #08181d;
    gap: 5%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.login_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_block{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: white;
    transition: all 0.5s;
}
.login_box > input{
    border: none;
    background-color: #0d2830;
    width: 50%;
    height: 8%;
    border-radius: 0.5vw;
    margin-top: 2%;
    color: white;
    font-size: 1vw;
    text-align: center;
}
.login_box > input::placeholder{
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.login_box > button{
    cursor: pointer;
    border: none;
    background-color: #0d2830;
    width: 50%;
    height: 8%;
    border-radius: 0.5vw;
    margin-top: 2%;
    color: white;
    font-size: 1vw;
}
.login_title{
    margin-bottom: 20%;
}
.sign_Title{
    margin-bottom: 10%;
}
.kakaoBtn{
    width: 50%;
    height: 8%;
    margin-top: 2%;
    border-radius: 0.5vw;
    background-image: url(../../IMG/kakao_login_large_narrow.png);
    background-repeat: no-repeat;
    background-position: center;   
    background-size: cover;
}