.Approval_continer {
    position: relative;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 90%;
    height: 80vh;
    margin-top: 2%;
    margin-left: 2%;

}

.Approval_info {
    background-color: #1a2f38;
    border-radius: 1vw;
}

.Approval_List {
    height: 90%;
    overflow: auto;
}

.Approval_List>li {
    list-style: none;
}

.Approval_Title {
    margin-left: 1%;
    margin-bottom: 1%;
    font-size: 1.5vw;
    font-weight: bold;
}

.Approval_Content {
    margin-left: 5%;
    height: 90%;
    width: 90%;
}

.Approval_Inputs {
    margin-top: 2%;
    position: relative;
    width: 80%;
    margin-left: 10%;
    color: black;
    height: 10vh;
    display: flex;
    z-index: 0;
}

.Approval_Inputs>div {
    left: 1%;
    position: absolute;
}

.Approval_Inputs>input {
    border: 1px solid;
    color: black;
    height: 10vh;
    width: 100%;
    font-size: 1vw;
}

.Approval_Btns {
    position: absolute;
    top: 5%;
    right: 10%;
    display: flex;
}
.Approval_Btns>button{
    display: flex;
    align-items: center;
    background-color: #0d2830;
    border: none;
    color: white;
    height: 2vw;
    border-radius: 1vw;
    padding: 5%;
}
.Approval_Btns>button:nth-child(1){
    margin-right: 5%;
}
.Approval_Btns>button:hover{
    transition: all 0.2s;
    box-shadow: 0 0 20px rgba(76, 175, 80, 0.8);
}
.Approval_Item {
    margin-bottom: 2%;
}

.Approval_Item:hover {
    background-color: #1a2f38;
}

.Approval_exmapls {
    margin-bottom: 2%;
}

.Approval_exmapls:hover {
    background-color: #1a2f38;
}

.Approval_info_data {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.Approval_info_data>div {
    border: 1px solid;
}

.Approval_info_data>div:nth-child(1) {
    grid-column: 1/13;
}

.Approval_info_data>div:nth-child(2) {
    grid-column: 1/5;
}

.Approval_info_data>div:nth-child(3) {
    grid-column: 5/9;
}

.Approval_info_data>div:nth-child(4) {
    grid-column: 9/13;
}

.Approval_info_data>div:nth-child(5) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/6;
}

.Approval_info_data>div:nth-child(5)>div {
    border-right: 1px solid;
    text-align: center;
}

.Approval_info_data>div:nth-child(6) {
    grid-column: 6/13;
}
.saveBtn{
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
.saveBtn> button{
    display: flex;
    align-items: center;
    background-color: #0d2830;
    border: none;
    color: white;
    height: 2vw;
    border-radius: 1vw;
    padding: 1vw;
}
.saveBtn> button:hover{
    transition: all 0.2s;
    box-shadow: 0 0 20px rgba(76, 175, 80, 0.8);
}
.saveBtn> button:nth-child(1){
    margin-right: 2%;
}