.business {
    width: 80%;
    display: grid;
    margin-left: 10%;
    grid-template-columns: repeat(12, 1fr);
}
.business input{
    border: 1px solid;
    padding-block:0;
    padding-inline:0;
}
.business>div {
    height: 10vh;
    position: relative;
    display: flex;
    z-index: 0;
}

.business>div>div:nth-child(1) {
    color: black;
    z-index: 9;
    position: absolute;
    left: 1%;
}

.business>div>:nth-child(2) {
    font-size: 1.5vw;
    width: 100%;
    z-index: 0;
}

.business>div {
    border: 1px solid;
}

.business> div:nth-child(1){
    grid-column: 1/6;
}
.business> div:nth-child(2){
    grid-column: 6/13;
}
.business> div:nth-child(3){
    grid-column: 1/7;
}
.business> div:nth-child(4){
    grid-column: 7/13;
}
.business> div:nth-child(5){
    grid-column: 1/13;
}
.business> div:nth-child(6){
    grid-column: 1/13;
}
.business> div:nth-child(7){
    grid-column: 1/13;
}